
body{line-height:1;margin:0;}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{padding:0px;margin:0px;font-size:12px;font-family:'yahei','Microsoft Yahei','微软雅黑',sans-serif;font-style:normal;font-weight:inherit;}
ul li{list-style-type:none;}
img{border:none;}
i,em{font-style:normal;}
a,input,button{outline:none;  /*blr:expression(this.onFocus=this.blur()); */text-decoration:none;}
input,button{outline:none;border:none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear-fix:after{
	display: block;
	content:'';
	clear:both;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
a{
	color:#000;
}










